<p class="login-box-msg">Sign in to start your session</p>
<form name="vm.userForm" ng-submit="vm.signin(vm.userForm.$valid)" class="signin" novalidate autocomplete="off">
  <uib-alert type="danger" ng-show="vm.error" class="text-center text-danger">
    <span ng-bind="vm.error"></span>
  </uib-alert>
  <div class="form-group has-feedback" show-errors>
    <input type="text" id="usernameOrEmail" name="usernameOrEmail" class="form-control"
           ng-model="vm.credentials.usernameOrEmail" placeholder="Username or Email" required autofocus>
    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
  </div>
  <div class="form-group has-feedback" show-errors>
    <input type="password" id="password" name="password" class="form-control" ng-model="vm.credentials.password"
           placeholder="Password" required>
    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
  </div>
  <div class="row">
    <div class="col-xs-8">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Remember Me
        </label>
      </div>
    </div>
    <!-- /.col -->
    <div class="col-xs-4">
      <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
    </div>
    <!-- /.col -->
  </div>
</form>

<a ui-sref="password.forgot">I forgot my password</a><br>
<a ui-sref="authentication.signup" class="text-center">Register a new membership</a>

<div ng-include="'/modules/users/client/views/authentication/social-partial.client.view.html'"></div>

