<p class="login-box-msg">Sign up using your email</p>
<form name="vm.userForm" ng-submit="vm.signup(vm.userForm.$valid)" class="signin" novalidate autocomplete="off">
  <fieldset>
    <div class="form-group  has-feedback" show-errors>
      <input type="text" id="firstName" name="firstName" class="form-control" ng-model="vm.credentials.firstName" placeholder="First Name" required autofocus>
      <span class="glyphicon glyphicon-info-sign form-control-feedback"></span>
    </div>
    <div class="form-group  has-feedback" show-errors>
      <input type="text" id="lastName" name="lastName" class="form-control" ng-model="vm.credentials.lastName" placeholder="Last Name" required>
      <span class="glyphicon glyphicon-info-sign form-control-feedback"></span>
    </div>
    <div class="form-group  has-feedback" show-errors>
      <input type="email" id="email" name="email" class="form-control" ng-model="vm.credentials.email" placeholder="Email" required>
      <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    </div>
    <div class="form-group  has-feedback" show-errors>
      <input type="text" id="username" name="username" class="form-control" ng-model="vm.credentials.username" ng-pattern="vm.usernameRegex" placeholder="Username" lowercase required>
      <span class="glyphicon glyphicon-user form-control-feedback"></span>
    </div>
    <div class="form-group  has-feedback" show-errors>
      <input type="password" id="password" name="password" class="form-control" ng-model="vm.credentials.password" placeholder="Password" uib-popover="{{vm.getPopoverMsg()}}" popover-trigger="outsideClick" password-validator required>
      <span class="glyphicon glyphicon-lock form-control-feedback"></span>
    </div>
    <div class="form-group" ng-show="!vm.userForm.password.$error.required">
      <label>Password Requirements</label>
      <uib-progressbar value="requirementsProgress" type="{{requirementsColor}}"><span style="color:white; white-space:nowrap;">{{requirementsProgress}}%</span></uib-progressbar>
    </div>
    <div class="row">
      <div class="col-xs-8">
        <div class="checkbox">
          <label>
            <input type="checkbox"> I agree to the <a href="#">terms</a>
          </label>
        </div>
      </div>
      <!-- /.col -->
      <div class="col-xs-4">
        <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
      </div>
      <!-- /.col -->
    </div>
  </fieldset>

  <div ng-messages="vm.userForm.firstName.$error" role="alert">
    <p class="help-block error-text" ng-message="required">First name is required.</p>
  </div>
  <div ng-messages="vm.userForm.lastName.$error" role="alert">
    <p class="help-block error-text" ng-message="required">Last name is required.</p>
  </div>
  <div ng-messages="vm.userForm.email.$error" role="alert">
    <p class="help-block error-text" ng-message="required">Email address is required.</p>
    <p class="help-block error-text" ng-message="email">Email address is invalid.</p>
  </div>
  <div ng-messages="vm.userForm.username.$error" role="alert">
    <p class="help-block error-text" ng-message="required">Username is required.</p>
    <p class="help-block error-text" ng-message="pattern">Please enter a valid username: 3+ characters long, non restricted word, characters "_-.", no consecutive dots, does not begin or end with dots, letters a-z and numbers 0-9.</p>
  </div>
  <div ng-messages="vm.userForm.password.$error" role="alert">
    <p class="help-block error-text" ng-message="required">Password is required.</p>
    <div ng-repeat="passwordError in passwordErrors">
      <p class="help-block error-text" ng-show="vm.userForm.password.$error.requirements">{{passwordError}}</p>
    </div>
  </div>
</form>

<div ng-include="'/modules/users/client/views/authentication/social-partial.client.view.html'"></div>
<a ui-sref="authentication.signin" class="text-center">I already have a membership</a>
