<div class="social-auth-links text-center">
  <p>- OR -</p>
  <a  ng-click="vm.callOauthProvider('/api/auth/facebook')" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using
    Facebook</a>
  <a ng-click="vm.callOauthProvider('/api/auth/google')" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using
    Google+</a>
  <a  ng-click="vm.callOauthProvider('/api/auth/twitter')" class="btn btn-block btn-social btn-twitter btn-flat"><i class="fa fa-twitter"></i> Sign in using
    Twitter</a>
  <a  ng-click="vm.callOauthProvider('/api/auth/linkedin')" class="btn btn-block btn-social btn-linkedin btn-flat"><i class="fa fa-linkedin"></i> Sign in using
    LinkedIn</a>
  <a  ng-click="vm.callOauthProvider('/api/auth/github')" class="btn btn-block btn-social btn-github btn-flat"><i class="fa fa-github"></i> Sign in using
    Github</a>
  <a  ng-click="vm.callOauthProvider('/api/auth/paypal')" class="btn btn-block btn-social btn-default btn-flat"><i class="fa fa-paypal"></i> Sign in using
    Paypal</a>
</div>
