<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    {{ 'Articles' | translate }}
    <small>{{ 'ListArticles' | translate }}</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i>{{ 'Home' | translate }}</a></li>
    <li class="active">{{ 'Articles' | translate }}</li>
  </ol>
</section>
<section class="content">
  <div class="box box-success">
    <div class="box-header with-border">
      <h3 class="box-title" ng-bind="vm.title"></h3>
      <div class="pull-right box-tools" ng-if="!vm.inline">
        <button type="button" ng-if="vm.article._id" class="btn btn-primary btn-sm" title="{{ 'ButtonUpdate' | translate }}" ng-click="vm.editor()">
          <i class="glyphicon glyphicon-pencil"></i>
        </button>
        <button type="button" ng-if="vm.article._id" class="btn btn-danger btn-sm" title="{{ 'ButtonRemove' | translate }}" ng-click="vm.remove()">
          <i class="glyphicon glyphicon-trash"></i>
        </button>
      </div>
    </div>
    <div class="box-body">
      <input ng-if="vm.inline" name="title" type="text" ng-model="vm.article.title" id="title" class="form-control" placeholder="{{ 'Title' | translate }}" required autofocus style="margin-bottom: 20px">
      <div id="editor1" contenteditable="{{vm.inline}}" style="padding: 20px" ng-bind-html="vm.deliberatelyTrustDangerousSnippet()">
      </div>
      <div style="margin-top: 10px; text-align: right">
        <button type="button" ng-if="vm.inline" class="btn btn-primary btn-sm" ng-click="vm.save()">
          {{ 'ButtonUpdate' | translate }}
        </button>
        <button type="button" ng-if="vm.inline" class="btn btn-danger btn-sm" 
        ng-click="vm.close()">
          {{ 'ButtonClose' | translate }}
        </button>
      </div>
    </div>
</section>
