<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Article
    <small>Article detail</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Article</li>
  </ol>
</section>

<section class="content">
  <div class="box box-success">
    <div class="box-header with-border">
      <h3 class="box-title">{{vm.article._id ? 'Edit Article' : 'New Article'}}</h3>
      <div class="pull-right box-tools">
        <button type="button" class="btn btn-primary btn-sm" title="Remove" ng-click="vm.remove()">
          <i class="glyphicon glyphicon-trash"></i>
        </button>
      </div>
    </div>
    <div class="box-body">
      <form name="vm.form.articleForm" ng-submit="vm.save(vm.form.articleForm.$valid)" novalidate>
        <fieldset>
          <div class="form-group" show-errors>
            <label class="control-label" for="title">Title</label>
            <input name="title" type="text" ng-model="vm.article.title" id="title" class="form-control" placeholder="Title" required autofocus>
            <div ng-messages="vm.form.articleForm.title.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Article title is required.</p>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="content">Content</label>
            <textarea name="content" data-ng-model="vm.article.content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-default">{{vm.article._id ? 'Update' : 'Create'}}</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</section>
