<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Users
    <small>List Users</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Users</li>
  </ol>
</section>

<section class="content">
  <div class="box box-success">
    <div class="box-header with-border">
      <h3 class="box-title">User</h3>
      <div class="pull-right box-tools">
        <input class="form-control col-md-4" type="text" ng-model="vm.search" placeholder="Search" ng-change="vm.figureOutItemsToDisplay()" />
      </div>
    </div>
    <div class="box-body">
      <div class="list-group">
        <a ng-repeat="user in vm.pagedItems" ui-sref="admin.user({userId: user._id})" class="list-group-item">
          <h4 class="list-group-item-heading" ng-bind="user.username"></h4>
          <p class="list-group-item-text pull-right small" ng-bind="user.roles"></p>
          <p class="list-group-item-text" ng-bind="user.email"></p>
        </a>
      </div>
      <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>
    </div>
  </div>
</section>
