<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Articles
    <small>List Articles</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Articles</li>
  </ol>
</section>

<section class="content">
  <div class="box box-success">
    <div class="box-header with-border">
      <h3 class="box-title">Articles</h3>
    </div>
    <div class="box-body">
      <div class="list-group">
        <a ng-repeat="article in vm.articles" ui-sref="articles.view({ articleId: article._id })" class="list-group-item">
          <small class="list-group-item-text">
            Posted on
            <span ng-bind="article.created | date:'mediumDate'"></span>
            by
            <span ng-if="article.user" ng-bind="article.user.displayName"></span>
            <span ng-if="!article.user">Deleted User</span>
          </small>
          <h4 class="list-group-item-heading" ng-bind="article.title"></h4>
        </a>
      </div>
    </div>
  </div>
</section>
