<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Profile
    <small>Update your information</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Profile</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-sm-12">
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li ui-sref-active="active">
            <a ui-sref="settings.profile">Edit Profile</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="settings.picture">Change Profile Picture</a>
          </li>
          <li ui-sref-active="active" ng-show="vm.user.provider === 'local'">
            <a ui-sref="settings.password">Change Password</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="settings.accounts">Manage Social Accounts</a>
          </li>
        </ul>
        <div class="tab-content settings-view">
          <div ui-view></div>
        </div>
      </div>
    </div>
  </div>
</section>
