<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    {{ 'Profile' | translate }}
    <small>{{ 'UpdateYourInformation' | translate}}</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i>{{ 'Home' | translate }}</a></li>
    <li class="active">{{ 'Profile' | translate }}</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-sm-12">
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li ui-sref-active="active">
            <a ui-sref="settings.profile">{{ 'EditProfile' | translate }}</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="settings.picture">{{ 'ChangeProfilePicture' | translate }}</a>
          </li>
          <li ui-sref-active="active" ng-show="vm.user.provider === 'local'">
            <a ui-sref="settings.password">{{ 'ChangePassword' | translate }}</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="settings.accounts">{{ 'ManageSocialAccounts' | translate }}</a>
          </li>
        </ul>
        <div class="tab-content settings-view">
          <div ui-view></div>
        </div>
      </div>
    </div>
  </div>
</section>
